* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
}

.page_content {
  min-width: 390px; /* largura limitada do form */
  min-height: 408px;
  background-color: WHITE;
  border-radius: 20px;
}

.form_title {
  color: #4280ef;
  font-size: 42px;
  font-weight: bold;
  margin-top: 41px;
  margin-left: 24px;
  margin-bottom: 44px;
  height: 31px;
  font-weight: 600; /* Semibold */
}

.form_label {
  margin-bottom: 9px;
  text-align: left;
  height: 18px;
  font-weight: 700; /* Semibold */
  font-size: 14px; /* Tamanho 14px */
}

.form_input {
  background-color: #f5f5f5;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #e1e1e1; /* 1px de borda vermelha */
  margin-bottom: 20px;
}

.form_content {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
}

.form_content input {
  width: 100%; /* ocupa toda a largura do form_content */
}

.form_content__button-submit {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background-color: #4280ef;
  font-weight: 600; /* Semibold */
  font-size: 16px; /* Tamanho 16px */
  color: white; /* Texto branco */
}

.login__back {
  margin-top: 12px;
  margin-left: 24px;
  margin-bottom: 41px;
}

.login__signup {
  margin-top: 12px;
  margin-left: 24px;
}

.signup__link {
  margin-top: 5px;
  margin-bottom: 41px;
  display: inline-block;
}
